<div *ngIf="!list" >
  <span #loading>
    <ng-content select="[loading]"></ng-content>
  </span>
  <span *ngIf="!loading.innerHTML.trim()">
      <img     
      src="https://media1.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.webp?cid=ecf05e47rv1pcoy3p3fep3s26fxfo9essoyvofl7t48qzymg&rid=giphy.webp&ct=g" 
    />
  </span>
  
</div>
<div *ngIf="list?.length === 0">
  <span #empty>
    <ng-content select="[empty]"></ng-content>
  </span>
  <span *ngIf="!empty.innerHTML.trim()">
    There are no records to display
  </span>
  
</div>

<ng-container *ngIf="list && list.length > 0">
  <ng-content select="[content]"></ng-content>
</ng-container>