<app-menu></app-menu>
<!-- <div>
  <input type="text" (input)="title = $event.target.value"/>
</div>
<div>
  <input type="checkbox" checked (change) ="display =!display"/> Display
</div>
<app-lifecycletest *ngIf="display" [title]="title"></app-lifecycletest> -->
<!-- <app-reting (onRating)="hendleRating($event)"></app-reting> -->
 <div class="container">
  <h2>In Theaters</h2>
<app-movies-list [movies]="moviesInTheaters"></app-movies-list>

<h2>Future Releases</h2> 
<app-movies-list [movies]="moviesFutureReleases"></app-movies-list>
</div> 
<!-- <input type="file" style="display:none" #uploader/>
<button (click)="uploader.click()">Load File</button>
<h1>Hello World</h1>

<div>
  {{title}}
</div>

<div>
  The sum of 2 and 2 is {{2+2}}
</div>
<div>
  The double of 3 is {{duplicateNumber(3)}}
</div>  -->
